include LICENSE
include README.md
include CHANGELOG.md
recursive-include LICENSES *
recursive-include c-src *.c *.cpp *.h
exclude c-src/demosaic/rcd.c
include c-src/demosaic/rcd.txt
recursive-include docs *.md
recursive-include examples *.py
